@font-face {
	font-family: lottepaperfang;
	src: url(./fonts/lottepaperfang.ttf);
}

@font-face {
	font-family: poiretOne;
	src: url(./fonts/PoiretOne-Regular.ttf);
}

.parallax { 
    /* The image used */
    background-image: url("./pictures/autumn-trees.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
	margin: 0 auto;
}

h2 {
	margin: 0 auto;
	padding: 20px;
}

#header {
	height: 6em;
	background-color: rgba(42, 44, 56, .75);
}

#header-name {
	float: left;
	font-family: lottepaperfang;
	font-size: 2.5em;
	position: relative;
	top: 50%;
	transform: translateY(-60%);
	padding-left: 8%;
	margin: 0px;
	color: rgba(219, 140, 140, 1);
}

#header-link-list {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-55%); 
	padding-right: 8%;
}

.header-links {
	display: inline-block;
	padding-left: 20px;
	font-family: lottepaperfang;
	font-size: 1.8em;
}

#intro-heading {
	text-align: center;
	font-family: lottepaperfang;
	color: rgb(48, 23, 34);
	height: 450px;
}

#intro-container {
	position: relative;
	top: 50%;
	transform: translateY(-60%); 
}

#intro-mainheader {
	margin: 0px 0px 20px;
	font-size: 6em;
}

#intro-subheader {
	font-size: 2.5em;
}

#about {
	text-align: center;
	font-family: poiretOne;
	background-color: rgba(42, 44, 56, .75);
	color: white;
}

#about-me-container {
	max-width: 65%;
}

#about-me {
	font-size: 1.5em;
}