@font-face {
	font-family: lottepaperfang;
	src: url(../fonts/lottepaperfang.ttf);
}

@font-face {
	font-family: poiretOne;
	src: url(../fonts/PoiretOne-Regular.ttf);
}

body { 
	background: url("../pictures/autumn-trees.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div {
	margin: 0 auto;
}

h2 {
	margin: 0 auto;
	padding: 20px;
}

/*section {
	padding-bottom: 7%;
}*/

#about,
#my-work,
#contact,
#intro-heading {
	text-align: center;
	font-family: poiretOne;
	/*padding-bottom: 7%;*/
}

#header-name,
#intro-heading,
.header-links,
#footer {
	font-family: lottepaperfang;
}

#header {
	height: 6em;
	background-color: rgba(42, 44, 56, 1);
	position: fixed;
	top: 0px;
	width: 100%;
	/*z-index: 1;*/
}

/*#sections-container {
	position: absolute;
}*/

#header-name {
	float: left;
	font-size: 2.5em;
	position: relative;
	top: 50%;
	transform: translateY(-60%);
	padding-left: 8%;
	margin: 0px;
	color: rgba(219, 140, 140, 1);
}

#header-link-list {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-55%); 
	padding-right: 8%;
}

.header-links {
	display: inline-block;
	padding-left: 20px;
	font-size: 1.8em;
}

#intro-heading {
	color: rgb(48, 23, 34);
	height: 600px;
}

#intro-container {
	position: relative;
	top: 50%;
	transform: translateY(-30%); 
}

#intro-mainheader {
	margin: 0px 0px 20px;
	font-size: 6em;
}

#intro-subheader {
	font-size: 2.5em;
}

#about {
	background-color: rgba(42, 44, 56, .75);
	color: white;
	padding-top: 7%;
}

#about-me-container {
	max-width: 65%;
}

#about-me {
	font-size: 1.5em;
}

/*#devicon-container {
	background-color: white;
	width: 80%;
	height: auto;
}*/

#skill-header {
	font-family: poiretOne;
}

#skills-container {
	background-color: white;
	color: black;
	width: 72%;
	/*margin: 25px 0px;*/
}

.skill-icons {
	font-size: 5.5em;
}

#my-work {

}

#my-work-header {
	background-color: rgba(244, 66, 92, 1);
}

#project-container {
	height: 400px;
	background-color: rgba(244, 66, 92, .35);
}

#contact-header {
	background-color: rgba(51, 165, 161, 1);
}

#contact-info-container {
	height: 400px;
	background-color: rgba(51, 165, 161, .5);
}

#footer {
	height: 4em;
	background-color: rgba(42, 44, 56, 1);
	z-index: 1;
	width: 100%;
	bottom: 0px;
}

#copyright {
	color: white;
	text-align: center;
	position: relative;
	top: 35%;
}